<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FreadApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Fread"
        tools:replace="android:allowBackup">

        <activity
            android:name=".screen.FreadActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="mastodon.social" />
                <data android:host="mastodon.online" />
                <data android:host="androiddev.social" />
                <data android:host="m.cmx.im" />
                <data android:host="alive.bar" />
                <data android:host="wxw.moe" />
                <data android:host="o3o.ca" />
                <data android:host="pawoo.net" />
                <data android:host="mstdn.jp" />
                <data android:host="infosec.exchange" />
                <data android:host="mstdn.social" />
                <data android:host="planet.moe" />
                <data android:host="mas.to" />
                <data android:host="fosstodon.org" />
                <data android:host="hachyderm.io" />
                <data android:host="piaille.fr" />
                <data android:host="mastodon.world" />
                <data android:host="social.vivaldi.net" />
                <data android:host="aethy.com" />

                <data android:host="bsky.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="dev.zwander.mastodonredirect.intent.action.OPEN_FEDI_LINK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>