on:
  push:
    tags:
      - '**'

concurrency:
  group: ${{ github.event.pull_request.number }}-build-ci
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Decode keystore
        run: |
          echo "${{ secrets.FREADKEYSTORE }}" | tr -d '\n' | base64 --decode > fread-keystore.jks

      - name: Debug keystore
        run: keytool -list -v -keystore fread-keystore.jks -storepass "${{ secrets.STOREPASSWORD }}"

      - name: Create keystore.properties
        run: |
          cat > keystore.properties <<EOF
          storePassword=${{ secrets.STOREPASSWORD }}
          keyPassword=${{ secrets.KEYPASSWORD }}
          keyAlias=${{ secrets.KEYALIAS }}
          storeFile=../fread-keystore.jks
          EOF

      - name: Build with Gradle
        run: bash ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app/build/outputs/apk/release/fread-*.apk
