on:
  push:
    tags:
      - '**'

concurrency:
  group: ${{ github.event.pull_request.number }}-build-ci
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Decode keystore
        run: printf "%s" "${{ secrets.FREADKEYSTORE }}" | base64 --decode > fread-keystore.jks

      - name: Create keystore.properties
        run: |
          cat > keystore.properties <<EOF
          storePassword=${{ secrets.STOREPASSWORD }}
          keyPassword=${{ secrets.KEYPASSWORD }}
          keyAlias=${{ secrets.KEYALIAS }}
          storeFile=../fread-keystore.jks
          EOF

      - name: Build with Gradle
        run: bash ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app/build/outputs/apk/release/*.apk

      - name: Build Debug APK
        run: bash ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk

      - name: Create draft GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          tag_name: ${{ github.ref_name }}
          name: Fread ${{ github.ref_name }}
          files: |
            app/build/outputs/apk/release/*.apk
            app/build/outputs/apk/debug/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
